{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#00016C">
  <div class="container">
    <div class="row">
      <h1>List!</h1>
      <p></p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>


<table border>
<tr><td>
	<table border>
      {{range .dshedule1}}
      <tr>
        <td>{{.Datetime}} {{.Dr_name}} {{.Assist_name}} {{.Patient_name}}</td>
      </tr>
      {{end}}
	</table>

</td>
<td>
        <table border>
      {{range .dshedule2}}
      <tr>
        <td>{{.Datetime}} {{.Dr_name}} {{.Assist_name}} {{.Patient_name}}</td>
      </tr>
      {{end}}
        </table>
<td>
</tr>
</table>

{{template "footer.html" .}}
