{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#00016C">
  <div class="container">
    <div class="row">
      <h1>Choose!</h1>
      <p></p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

<form action="/confirm" method="POST">
<table border>

{{.confirm.Viewtime}}で予約とります	
      <tr>
        <td><a href="/done?day={{.confirm.Day}}&time={{.confirm.Time}}">OK</a></td>
      </tr>
      </table>

</form>

{{template "footer.html" .}}
