{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#F9F16C">
  <div class="container">
    <div class="row">
      <h1>Index!</h1>
      <p></p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

<form action="/login" method="POST">
    <input type="text" name="id" value="00101"/><br/>
    <input type="text" name="password" value="09047515781"/><br/>

    <input type="submit" value="login" />
</form>

{{template "footer.html" .}}
