{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#00016C">
  <div class="container">
    <div class="row">
      <h1>Choose!</h1>
      <p></p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

次回予約は{{.Nexttime}}です

<table border>
      {{range .vacantTime}}
      <tr>
        <td><a href="/confirm?day={{.Day}}&time={{.Time}}">{{.Viewtime}}</a></td>
      </tr>
      {{end}}
      </table>

{{template "footer.html" .}}
